.loginContainer {
  padding: 5rem;
  display: flex;
  justify-content: center;
}

.login {
  min-height: 500px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  gap: 3rem;
  transition: min-height 0.3s ease;
}

.label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #444444d5;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: color 0.3s;
}
.title {
  color: #291f1f7e;
}
.field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.field:focus {
  border-color: #007bff;
  outline: none;
}

.button {
  text-decoration: none;
  background-color: #3bbe12;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
}

.button:hover {
  background-color: #608d42;
  transform: translateY(-2px);
}

.message {
  margin-top: 15px;
  color: red;
  font-weight: bold;

  background-color: rgba(128, 128, 128, 0.418);
  border-radius: 15px;
  padding: 1rem;
}
.loginMessage {
  background-color: rgba(128, 128, 128, 0.507);
  border-radius: 1.5rem 0.5rem 1.5rem 1.5rem;
  text-align: center;
  padding: 1rem;
  position: relative;
}
.loginMessage[data-message="false"] {
  display: none;
}
.loginClose {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.loginClose:hover {
  transform: scale(1.4);
}
