.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(135deg, #3a3a3a, #4b1a1a);
  color: #f0f0f0;
  text-align: center;
  height: 80px;
  padding: 0 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.headerContent {
  max-width: 1200px;
  width: 100%;
}

.headerContent h1 {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  letter-spacing: 1px;
}

.headerContent p {
  font-size: 16px;

  font-style: italic;
  color: #cccccc;
}
.headerUser {
  width: 300px;
}
.themeToggle {
  height: 2rem;
  width: 2rem;
}
.themeToggle[data-visible="true"] {
  display: none;
}
