.mainListContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listContainer {
  width: 1200px;
  padding: 0 20px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  font-weight: bold;
  padding: 15px;
  border-bottom: 2px solid #944c4c;
  margin-bottom: 10px;
  gap: 0.25rem;
}
.title p {
  width: 140px;
}
.listItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  height: 3rem;
}
.listItem2 {
  background-color: #f8f7f7f1;
}
.listItem:hover {
  background-color: #e2cccc;
}

.listItem p {
  width: 140px;
}

.buttonBlock {
  display: flex;
  gap: 0.5rem;
}
.button {
  background-color: #f1e9e9;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover {
  text-decoration: underline;
}
.flexContainer {
  display: flex;
}
